
<div class="row" >
        <div class="col-lg-6 col-md-6">
                <div >
                        <h1>Customers</h1>
                <div class="cards" style="width:100%">
                       <table class="table-striped">
                               <thead class="table thead-inverse">
                                       <tr>
                                               <th>Name</th>
                                               <th>Email</th>
                                               <th>Balance</th>
                                       </tr>
                               </thead>
                               <tbody class="table tbody-inverse">
                                       <tr *ngFor="let x of customers">
                                               <th>{{x.firstName}} {{x.lastName}}</th>
                                               <th>{{x.email}}</th>
                                               <th>{{x.balance}}</th>
                                       </tr>
                               </tbody>
                       </table>
                                
                        </div>
                </div>
                </div>
        </div>


